body {
    background: url(../images/tiger-2791980_1920.jpg) center center fixed;
    background-size: cover;
    color: white;
}

#header {
    text-align: center;
    font-size: 7vw;
}

#lap {
    text-align: right;
    font-size: 4vw;
}

#time {
    text-align: center;
    font-size: 10vw;
}

#controlsContainer {
    margin-bottom: 100px;

}

.control {
    color: white;
    background-color: rgba( 212, 126, 73, 0.791 );
    border-radius: 100%;
    height: 10vw;
    width: 10vw;
    text-align: center;
    padding: 30% 0;
    cursor: pointer;
    font-size: 2.5vw;
}

.control:active {
    background-color: white;
    color: #d7804e;
}

#laps {
    max-height: 270px;
    overflow-y: scroll;
}

#stopButoon,
#resumeButoon,
#lapButoon {
    display: none;
}

.lap{
    height: 50px;
    border-bottom: 1px solid white;
    margin: 50px;
}

.lapTittle{
    font-size: 1.5em;
    float: left;
}

.lapTime{
    font-size: 2em;
    float: right;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255,255,255); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba( 212, 126, 73, 0.791 );
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba( 0, 0, 0, 0.791 );
}